@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main-heading-start: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}


/* align entire html body to the center */
html,
body {
    height: 100%;
}

html {
    display: table;
    width: 100%;


}

body {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: var(--main-background);
    font-family: 'Inter', sans-serif;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}



.container {
    max-width: 1140px;
    margin: 0 auto;
    font-size: 0.938rem;
    color: var(--main-heading-start);

}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    overflow: hidden;
    padding: 0.625rem;
    margin: 1.25rem;

}

.card-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding: 4rem;
    background-color: var(--card-background);
    border-radius: 0.313rem 0 0 0.313rem;


}

span {
    color: var(--accent);
}

.card-text-block p {
    color: var(--main-paragraph);
    line-height: 1.5;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 1.25rem
}

.stat-block {
    padding-right: 2rem;
}

.stat-title {
    font-size: 12px;
    color: var(--main-paragraph);
    padding-top: 0.625rem;
    letter-spacing: 1.5;
}

.card-image-block {
    width: 100%;
    background-image: url(/resources/images/image-header-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: var(--accent);
    border-radius: 0 0.313rem 0.313rem 0;
}


/*Footer*/
.attribution {
    font-size: 0.75rem;
    text-align: center;
    color: var(--main-heading-start);
}

.attribution a {
    color: var(--main-heading-start);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--accent);
}



/*Media Query*/

@media (max-width: 768px) {

    .card {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-text-block {
        text-align: center;
    }

    .card-image-block {
        width: 100%;
        height: 476px;

    }

}

@media (max-width: 460px) {
    .stats {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .stat-block {
        padding: 0 0 0.75rem 0;
    }

}